<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <!-- <div id="apps">
        {{hello}}
    </div>
    <div id="coding">
        {{everthing}}
    </div>
    <div id="apps_2">

        <h1 v-bind:title="message">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, nobis!
        </h1>
        {{message2}}
    </div> -->
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
        <span v-if="">Now you see me</span>
    </div>
    <h1 id="text">Lorem ipsum dolor sit amet.</h1>
    <h3 id="call">what do you think</h3>
    <button class="btn__click" onclick="click_me()">click me</button>
    <div class="box" id="boxing" onclick="changeColor(this)">
        Choose your collor
    </div>

    <!-- VUE JS COURSE -->

    <div id="name1">
        <h1>{{gretting}}</h1>
        <br>
        <input v-model="gretting">
    </div>
    <div id="demo">
        <div v-if="count==1">
            green
        </div>
        <div v-else-if="count===2">
            yellow
        </div>
        <div v-else>red</div>
    </div>
    <div id="colo">
        <div v-show="basic==1">Otabek</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./java.js"></script>
</body>

</html>